.jumbotron {
  background: #127412;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #179517;
    border-color: #179517; }
    .jumbotron .btn-primary:hover {
      background: #19A519; }
  .jumbotron .btn-secondary {
    background: #179517;
    color: white;
    border-color: #179517; }
    .jumbotron .btn-secondary:hover {
      background: #19A519; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin: auto;
    border: 3px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
